<div class="message" [class.right-message]="right_">
    <div class="user">
        <!-- Not the best fix for the picture but will do
            a better approach would imply changing the data model -->
        <img [src]="right ? '../../../assets/avatar1.png' : '../../../assets/avatar2.png'" alt="">
        <h3 class="user-name" 
            [class.color-right]="right_" 
            [class.color-left]="!right_"
            >
            
            {{user_}}
        </h3>

        <span class="time">{{time_}}</span>
    </div>

    <p>
        <ng-content></ng-content>
    </p>
</div>
